.body{
	display: grid;
	grid-template-columns: [full-start]1fr[center-start]4fr[center-end]1fr[full-end]
}

.header{
	grid-column: full-start / full-end;
	background-color: $color-dark;
	display:grid;
	justify-content: center;

	&__title{
		margin: 2rem;
	}
}

.product{
	grid-column: center-start / center-end;
	display:grid;
	grid-template-rows: repeat(3, min-content);
	grid-template-columns : 1fr 1fr;
	grid-column-gap:5rem;
	grid-row-gap:5rem;

		@media only screen and (max-width: $bp-large) {
			grid-template-columns : 1fr;
			grid-row-gap:2rem;	
		}

	&__title{
		grid-column: 1/2;
		grid-row: 1/2;
		margin: 2rem 0;

		@media only screen and (max-width: $bp-largest) {
			font-size:1.1rem;
		}	
	}

	&__show_article{
		grid-column: 1/2;
		grid-row: 2/3;
	}

	&__price{
		padding-right:4rem;
	}

	&__description_article{
		grid-column: 2/3;
		grid-row: 2/3;
		display:grid;
		grid-template-columns : 1fr;
		align-items:center;
		justify-items:start;
		border-top: 1px solid $color-light;

			@media only screen and (max-width: $bp-large) {
				grid-column: 1/2;
				grid-row: 3/4;
				margin-top: 2rem;	
			}

	}

	&__image{
		width:100%;
	}

	&__text{
		@media only screen and (max-width: $bp-large) {
			font-size:1.1rem;
		}
	}

}

.app{
	grid-column: center-start / center-end;
}

.comments_section{
	display:grid;

	&__avg{
		margin: 3rem 0;
		font-size:1.2rem;
	}
}

.add_comment{

	&__btn{
		margin-top:4rem;
	}

	&__form{
		grid-column: full-start / full-end;
		background-color: $color-back;
		margin-top:2rem;
	}
}

.show_comments{
	grid-column: center-start / center-end;
	display:grid;
	grid-template-columns: minmax(max-content, 1fr) 2fr;
	margin: 4rem 0;
	padding-top: 1rem;
	border-top: 1px solid $color-light;

		@media only screen and (max-width: $bp-medium) {
			grid-template-columns: min-content 2fr 1fr;
	}

	@media only screen and (max-width: $bp-small) {
		grid-template-columns: min-content  1fr;
		margin: 1rem 0;
	}
	/*new template for comments phone */
	@media only screen and (max-width: $bp-verysmall) {
		grid-template-columns:  1fr;		
	}

	&__comment{
		border-left: 1px solid $color-light;
		padding-left: 2rem;

		@media only screen and (max-width: $bp-verysmall) {
			border:none;
		}

	@media only screen and (max-width: $bp-veryverysmall) {
			padding-left: 0rem;	
		}

	}

	&__rate{
		@media only screen and (max-width: $bp-verysmall) {
			display:flex;
		}
	}

	&__rate_num{
		margin-right: 1rem;

		@media only screen and (max-width: $bp-medium) {
			font-size: 1.6rem;
		}
			/*new grid for comments phone */
		@media only screen and (max-width: $bp-verysmall) {
			grid-column: 1/2;	
			font-size: 1.4rem;
		}	
	}

	&__rate_text{
		grid-column: 2/3;
		margin-right: 1rem;

			@media only screen and (max-width: $bp-medium) {
				display:none;
			}		

			@media only screen and (max-width: $bp-verysmall) {
				display:grid;		
			}	
	}

	img{
		width: 15rem;
	}
}

.footer{
	grid-column: full-start / full-end;
	background-color: $color-dark;
	height:10vh;
	display:flex;
	align-items: center;
	justify-content: center;
	margin-top:15rem;
}

