<template>
	<div >
		<addcomment @new-comment="comments.unshift($event)" @new-rate="average"></addcomment>
		<div class="comments_section">
			<h3  v-if="averageRate" class="comments_section__avg heading-2">Moyenne des avis : {{ averageRate }} / 5</h3>
			<div>
				<button v-if="averageRate" class="btn " @click="displayCommentsByRate">Trier par note</button>
				<button v-if="averageRate" class="btn" @click="displayCommentsByDate">Trier par date</button>
			</div>
		</div>
		<div  v-for="comment in comments" :key="comment.id" class="show_comments">
            <div class="show_comments__rate">
            	<p class="show_comments__rate_text paragraph">La note de {{ comment.pseudo }}</p>
            	<h3 class=" show_comments__rate_num heading-3">{{ comment.rate }}/5</h3>
            </div>
            <div class="show_comments__comment">
                <h3 class="show_comments__title heading3">{{ comment.title }}</h3>
                <small>{{ comment.pseudo }} -- Il y a {{ format(comment.created_at) }}</small>
                <p class="show_comments__text paragraph" v-html="comment.content"></p>
                <div>
                    <a href="#" v-on:click.prevent="editCommment(comment.id)"><small>Editer</small></a>
                    <a href="#" v-on:click.prevent="supCommment(comment.id)"><small>Suprimer</small></a>
                </div> 
                <div v-if="edit" >
                <editcomment :commentToEdit="commentToEdit"  @new-update="commentEdited($event)" v-if="comment.id === commentToEdit.id"></editcomment> 
                </div>

            </div>
        </div> 
        	<div v-if="nextPage">
                 <button class="btn" @click="displayComments(nextPage)">Voir plus d'avis</button>
            </div>
		</div>
</template>
<script>

	import { formatDistance } from 'date-fns'
	import { fr } from 'date-fns/locale'

    export default {

    	data(){

    		return {
    			comments : [],
                commentToEdit : {},
    			nextPage : null,
    			averageRate : "",
    			url: "/displayComments",
                urlSup : "/supComment/",
                urlEdit: "/editComment/",
    			now : new Date(),
                edit: false,
    		}
         
    	},

    	mounted() {

    		setInterval(() => {
                    this.now = new Date()
                	}, 1000)

    		this.displayComments(this.url)
    		

    	},

    	methods :{
    		displayComments(url){
                axios.get(url)
                .then(({data})=>{
                    this.comments = this.comments.concat(data)
                    this.average()
                    
                })
            },

            displayCommentsByRate(){
                this.comments = this.comments.sort((a,b) => b.rate - a.rate);    	
            },

            displayCommentsByDate(){
                this.comments = this.comments.sort((a,b) => new Date(b.created_at) - new Date(a.created_at)); 
            },

            editCommment(id){
                this.edit = !this.edit
                axios.get(this.urlEdit + id)
                .then(result => {
                    this.commentToEdit = result.data
                })

            },

            supCommment(id){
                if(confirm('Voulez-vous supprimer cet avis?')){
                axios.delete(this.urlSup + id)
                .then(result =>{ 
                    this.comments.splice(this.comments.findIndex(i => i.id == id),1)
                    this.average()
                })
                }  
            },

            commentEdited(result){
                this.edit = false
                this.comments[this.comments.map(e => e.id).indexOf(result.id)] = this.commentToEdit 
                this.average()     
            },

            average(){
                let result = this.comments.map((a, b) => (parseFloat(a.rate) ))
                let sumRate = result.reduce((a, b) => (a + b))
                this.averageRate = (sumRate / this.comments.length).toFixed(1)
                   
            },

            format(date){
                return formatDistance(new Date(date), this.now, { locale: fr })
            },

    	}

    	}
</script>