/* COLOR VARIABLES */

$color-primary: #007aff;
$color-secondary:#0056B3;

$color-light: #3e3e3e;
$color-dark: black;
$color-back:#ffffff;


// FONT VARIABLES

 $font-primary: 'Raleway', sans-serif;

 $font-text: 'Montserrat', sans-serif;




//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; /*1200/16*/
$bp-large: 62.5em;
$bp-medium:50em;
$bp-small: 41.2em;
$bp-verysmall: 31.2em;
$bp-veryverysmall: 26.2em;

